@import '../../sass/media';


// colors
.primary {
    color: #4d53e0;
}

.secondary {
    color: #00a5ff;
}

.success {
    color: #43bc13;
}

.warning {
    color: #ffa100;
}

.danger {
    color: #ff4b23;
}

.secondary-red {
    color: #ff5668;
}

.secondary-yellow {
    color: #ffc405;
}

.cancel {
    color: #16365f;
}

// background colors


.primary-bg {
    color: #4d53e0;
}

.secondary-bg {
    color: #00a5ff;
}

.success-bg {
    color: #43bc13;
}

.warning-bg {
    color: #ffa100;
}

.danger-bg {
    color: #ff4b23;
}

.secondary-red-bg {
    color: #ff5668;
}

.secondary-yellow-bg {
    color: #ffc405;
}

.cancel-bg {
    color: #16365f;
}