@import '../sass/media';

.main-home {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .inside-home {
        width: 95%;
        height: 95%;
        margin: 0.8% auto;
        border-radius: 10px;
        background-color: white;
        position: relative;
        padding: 4px;

        .inside-home-section {
            width: 100%;
            height: 100%;
            border-radius: 10px;

            .tab-sections {
                width: auto;
                position: absolute;
                right: 10px;
                top: 10px;
            }


            .body-section-home {
                width: 100%;
                height: 100%;
                border: 1px solid blue;
            }
        }
    }
}

// tab
.tabs {
    width: 100%;
    display: flex;
    gap: 20px;
    position: relative;

    .tap-box-show {
        width: 300px;
        height: 50px;
        position: absolute;
        right: 0;
        background-color: white;
        border-radius: 10px;
        top: 100%;
        display: flex;
        gap: 20px;
        border: 3px solid blue;
        align-items: center;
        justify-content: center;
        padding: 10px;

    }

    .tab-box {
        width: 50px;
        height: 50px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        background-color: #f7f8fb;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
        gap: 20px;
        cursor: pointer;

        .image-tab {
            width: 30px;
            height: 30px;
            background-color: white;
            border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 23px;
            color: #ff5668 !important;
        }

        .image-tab:hover {
            background-color: #ff5668;
            color: white !important;
        }
    }
}