@import '../../sass/media';



// background-colors
.primary-btn {
    background-color: #4d53e0;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.secondary-btn {
    background-color: #00a5ff;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.success-btn {
    background-color: #43bc13;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.warning-btn {
    background-color: #ffa100;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.danger-btn {
    background-color: #ff4b23;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.secondary-btn-red {
    background-color: #ff5668;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.secondary-btn-yellow {
    background-color: #ffc405;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.cancel-btn {
    background-color: #16365f;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

// background background-colors


.primary-btn-bg {
    background-color: #4d53e0;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.secondary-btn-bg {
    background-color: #00a5ff;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.success-btn-bg {
    background-color: #43bc13;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.warning-btn-bg {
    background-color: #ffa100;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.danger-btn-bg {
    background-color: #ff4b23;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.secondary-btn-red-bg {
    background-color: #ff5668;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.secondary-btn-yellow-bg {
    background-color: #ffc405;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}

.cancel-btn-bg {
    background-color: #16365f;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: auto;

}